<?php

########################################################################################
# jpgraph base directory
########################################################################################
$jpgraph_dir = "/usr/share/jpgraph/";

########################################################################################
# base directory and file configuration
########################################################################################
$basedir = "/var/www/dect";
$file_prefix_current = "dect_30secs_";
$file_prefix_daily = "dect_daily_";
$file_prefix_monthly = "dect_monthly_";

########################################################################################
# energy and temperatur configuration and index.php configuration
########################################################################################
$use_smart_meter = false;
$use_solar_power = true;
$use_solar_production = false;
$use_heating_temp = false;
$show_energy_consumption = false;
$use_blocks = false;
$quick_view_refresh = "2";
$chart_view_refresh = "30";
$datafile = "dect_data/dect.xml";
$colors_dect = array("blue","green","black","red");
$data_smart = $basedir."/smart_data/smart_meter_power_history.data";
$data_smart_power = $basedir."/smart_data/smart_meter_power.data";
$data_smart_verbrauch = $basedir."/smart_data/smart_meter_verbrauch.data";
$data_smart_einspeise = $basedir."/smart_data/smart_meter_einspeise.data";
$datafile_einspeise = $basedir."/smart_data/smart_meter_einspeise_summary.data";
$datafile_verbrauch = $basedir."/smart_data/smart_meter_verbrauch_summary.data";
$datafile_einspeise_monthly = $basedir."/smart_data/smart_meter_einspeise_summary_monthly.data";
$datafile_verbrauch_monthly = $basedir."/smart_data/smart_meter_verbrauch_summary_monthly.data";

########################################################################################
# solar production and power configuration
########################################################################################
$datafile_solar = $basedir."/dect_data/".$file_prefix_current."116300250339.data";
$datafile_solar_daily = $basedir."/dect_data/".$file_prefix_daily."116300250339.data";
$datafile_solar_monthly = $basedir."/dect_data/".$file_prefix_monthly."116300250339.data";

########################################################################################
# power consumption configuration
########################################################################################
$ains = array("116300172651","116300146166","116300176784");
$names = array("TV","Server","Computer");
$colors = array("green","blue","red");

########################################################################################
# energy consumption configuration
########################################################################################
$graph_energy_y_scale = 15;
$graph_energy_monthly_y_scale = 300;

########################################################################################
# kostal inverter data file
########################################################################################
$use_inverter = true;
$home_specials = array("116300186781","116300186042","116300214431");
$inverter_data = $basedir."/inverter_data/inv.data";

#########################################################################################
# use psql ? 
########################################################################################
$use_psql = true;
$hostString="host=localhost port=5432 dbname=dbname user=username password=password";

########################################################################################
# no configuration below - automatic variable generation !!!
########################################################################################

$files = array();
$files_monthly = array();
$current_files = array();

for ($i=0;$i<sizeof($ains);$i++) {
	array_push($files, $basedir."/dect_data/".$file_prefix_daily.$ains[$i].".data");
	array_push($files_monthly, $basedir."/dect_data/".$file_prefix_monthly.$ains[$i].".data");
	array_push($current_files, $basedir."/dect_data/".$file_prefix_current.$ains[$i].".data");
}

?>
