
.svg-yellow{fill:var(--yellow-1)}

.svg-green{fill:#B4CD32;}
.svg-green-light{fill:#a6d608;}
.svg-green-stroke{stroke:#B4CD32;}

.svg-orange{fill:#F29000;}
.svg-orange-light{fill:#fe5a1d;}
.svg-orange-fill{fill:#F29000;}
.svg-orange-stroke{stroke:#F29000;}

.svg-grey{fill:#5E5E5E;}

.svg-blue-stroke{stroke:#1e467d;}
.red-txt{color:#d9534f!important}
.green-txt{color:#B4CD32;!important}
.grey-txt{color:#5E5E5E;!important}
.light-grey-txt{color:#e1e1e1;!important}
.blue-txt{color:#1e467d;!important}
.blue-txt,.text-white{color:#5E5E5E;!important}
.yellow-txt{color:#ff0!important}
.text-center{text-align:center}
